.cart-icon {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 28px;
    height: 28px;
  }

  .item-count {
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    font-weight: bold;
  }
}
